/* fichier css */
h1{
	color: red;
	text-align: center;
}

.test{
		color: white;
		background-color: black;
		text-align: center;
}

.paragraphe{
	color: green;

}

.footer{
	color: black;
	text-align: right;
}
